{% extends "main_layout.html" %} {% block content %}
    <div class="container text-center">
        <h1>About HomeBudget</h1>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="vertical-div">
                <h2 style="text-align: center;">What is HomeBudget?</h2>
                <div class="rounded bg-light p-3">
                    HomeBudget is a cutting-edge web application meticulously crafted to empower you in responsibly managing your finances. With a strong emphasis on financial education, our primary objective is to promote the adoption of zero-based budgeting. To aid you on this enlightening journey, we have developed a robust tool that not only serves as a comprehensive tutorial but also as a practical solution for effectively managing your home finances. Our web app goes beyond mere guidance, offering a complete suite of features to streamline your financial management experience. From tracking your expenses with precision to strategically planning monthly budgets, HomeBudget is your all-in-one solution for achieving financial success.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="vertical-div">
                <h2 style="text-align: center;">Why use it?</h2>
                <div class="rounded bg-light p-3">
                    Well, let us illuminate the path for you. Firstly, it's free. Yes, you heard it right – zero cost for a tool that can be your guide to financial success. We believe that learning about budget management shouldn't come with a price tag. Instead, it should be an opportunity for you to gain financial profit. Now, here's the icing on the cake: by using HomeBudget, you're not just managing your finances; you're making real money off of us. It's a fantastic deal that aligns with our vision of fostering fiscal responsibility and empowerment. Join us on this transformative journey, and let's together make managing your finances a rewarding experience. Welcome to a world where financial success is not just a goal but a tangible reality.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="vertical-div">
                <h2 style="text-align: center;">About our team</h2>
                <div class="rounded bg-light p-3">
                    Meet the brilliant minds behind HomeBudget – a dynamic team of four students who are passionate about reshaping the landscape of personal finance. Our diverse backgrounds and shared enthusiasm for innovation come together to bring you a cutting-edge web application that stands out in the world of financial management. Why trust us? Well, not only are we driven by a shared vision of promoting financial education, but we've also personally experienced the challenges of managing finances as students. This firsthand knowledge has fueled our dedication to creating a tool that goes beyond expectations – providing not just guidance but a complete solution for effective home finance management.
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
