{% extends "main_layout.html" %} {% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12", style="text-align: center">
            <h1><strong>Current Goal Progress</strong></h1>
        </div>
    </div>

    <div class="justify-content-center align-items-center mt-5">
        <div class="card d-flex bg-dark border-0 text-light" style="padding: 5px; height: 100%;">
            <div class="row mt-3">

                <div class="col-md-12" style = "display: grid; place-items: center">
                    {% if goals_data is defined and goals_data|length > 0 %}
                        <div class="col-md-12" id="goals_percentages">
                            {% for item in goals_data %}
                            <div>
                            <div style="display: inline-block;" >
                                <h5>Goal Title: {{ item[1]|safe }}</h5>
                                <div class="row ml-0">
                                    <h5>Deadline: {{item[3]|safe}}</h5>
                                    <button type="button" class="close mb-2 ml-2 align-center" onClick="deleteRecord({{item[0]|safe }}, 'goal')">
                                        <span class="text text-light" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
{#                            <div style="display: inline-block; margin-right: 0">#}
{##}
{#                            </div>#}
                                <div>
                                    <canvas id="{{ item[1]|safe }}_bar" style="height: 25px"></canvas>
                                </div>
                                <div class="row" style="text-align:center">
                                    <div class="col-md-12">
                                        <h5> {{ item[4]|safe }} out of {{ item[2]|safe }}</h5>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                {% else %}
                    <div style = "display: grid; place-items: center;">
                        <h5>Please add new goal to see the analysis!</h5>
                    </div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card col-6 d-flex m-all bg-dark border-0 text-light">
        <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Add new Goal</h4>
            <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control", size=32) }}<br>
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.target_amount.label }}<br>
                        {{ form.target_amount(class="form-control", size=32) }}<br>
                        {% for error in form.target_amount.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.deadline.label }}<br>
                        {{ form.deadline(class="form-control", size=32) }}<br>
                        {% for error in form.deadline.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-light btn-block") }}
                    </div>
                </form>
        </article>
        </div> <!-- card.// -->
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {

        var goals = {{goals_data | tojson}};
        var pie_labels = new Array();
        var pie_data = new Array();

        for(var i =0 ;i < goals.length;i++){
            cat_name = goals[i][1];
            id_name = cat_name + "_bar";
            var percentage = 0;
            if(goals[i][5] != 0)
            {
                percentage = goals[i][5];
                if(percentage > 100)
                {
                    percentage = 100;
                }
            }
            progress_bar(id_name,percentage,'rgb(176, 196, 222)');
            pie_labels.push(cat_name);
            pie_data.push(goals[i][3]);
        }
   });
</script>
</div>
{% endblock %}