{% extends "main_layout.html" %} {% block content %}
<div class="row mt-3">
    <div class="col-md-12" style="text-align: center">
        <h1><strong>Budget Analysis</strong></h1>
    </div>
    <select class="form-select form-control bg-dark text-white col-md-6 offset-md-3" aria-label="Category select" id="category-select" onchange="updateHiddenField()">
        {% for category in data %}
              <option value="{{category}}">{{ category }}</option>
        {% endfor %}
    </select>
    <div class="container">
        <div class="card bg-dark border-0 text-light" style="padding: 10px; height: 100%;">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <h3>This month spending</h3>
            </div>
            <div class="row mt-1">
                <div class="col-md-11">
                    <canvas id="month_progress" style="height: 25px"></canvas>
                </div>
                <div class="col-md-1" style="display: flex; justify-content: center; align-items: center;">
                    {{category_spending}}%
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px;">
                    <div class="table-responsive card mt-4">
                        <table class="table table-dark table-striped mb-0 transaction-table table-bordered">
                            <thead>
                                <tr>
                                   <th colspan="6" class="text-center"><h3>Subcategories spending </h3></th>
                                </tr>
                                <tr>
                                   <th scope="col" class="text-center">Subcategory</th>
                                   <th scope="col" class="text-center">Total spending</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%  if not subcategories_spending.empty %}
                                    {% for name, value in subcategories_spending %}
                                        <tr>
                                            <td>{{ name }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6" style = "display: grid; place-items: center">
                    {% if subcategories_spending is defined and subcategories_spending|length > 0 %}
                        <canvas id="pie_1"></canvas>
                    {% else %}
                        <div style = "display: grid; place-items: center;">
                            <h6>Please add new transactions to see the analysis!</h6>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1><strong>Historic data</strong></h1>
                </div>
                <div class="text-center">
                    <h1>Category spending and budget over year</h1>
                </div>

            </div>
        </div>
    </div>
</div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        progress_bar("month_progress",{{category_spending}},"rgb(176, 196, 222)");

        var categories = {{subcategories_spending | tojson}};
        var pie_labels = new Array();
        var pie_data = new Array();

        for(var i =0 ;i < categories.length;i++){
            cat_name = categories[i][0];
            id_name = cat_name + "_bar";
            //var percentage = 0;
            //if(categories[i][1] != 0)
            //{
            //    percentage = categories[i][1]/category_spending*100;
            //    if(percentage > 100)
            //    {
            //        percentage = 100;
            //    }
            //}
            //progress_bar(id_name,percentage,'rgb(176, 196, 222)');
            pie_labels.push(cat_name);
            pie_data.push(categories[i][1]);
        }

        if(categories.length > 0)
        {
            pie_chart("pie_1",pie_data,pie_labels);
        }

   });
</script>
{% endblock %}
