{% extends "main_layout.html" %}
{% block content %}
    <div class="row mt-3">
        <div class="col-md-12", style="text-align: center">
            <h1><strong>Budget management</strong></h1>
        </div>
    </div>

    <div class="row justify-content-between mt-5">
        <div class="col-md-6 text-center">
            <div class="vertical-div">
                <button type="submit" class="btn btn-lg btn-dark btn-outline-light btn-block d-flex justify-content-center"  data-toggle="modal" data-target="#modal-income">Add income</button>
            </div>

        </div>
        <div class="col-md-6 text-center">
            <div class="vertical-div">
                <button type="submit" class="btn btn-lg btn-dark btn-outline-light btn-block d-flex justify-content-center"   data-toggle="modal" data-target="#modal-outcome">Add outcome</button>
            </div>
        </div>
    </div>

  <div class="table-responsive card mt-4">
        <table class="table table-dark table-striped mb-0 transaction-table table-bordered">
            <thead>
                <tr>
                   <th colspan="6" class="text-center"><h3>Budget entries</h3></th>
                </tr>
                <tr>
                   <th scope="col" class="text-center">Lp.</th>
                   <th scope="col" class="text-center">Category</th>
                   <th scope="col" class="text-center">Value</th>
                   <th scope="col" class="text-center">Month</th>
                   <th scope="col" class="text-center">Year</th>
                </tr>
            </thead>
            <tbody>
                {%  if not budget_entries.empty %}
                    {% for index, entry in budget_entries.iterrows() %}
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ entry['name'] }}</td>
                            <td>{{ entry['amount'] }}</td>
                            <td>{{ entry['month'] }}</td>
                            <td>{{ entry['year'] }}</td>
                            <td style="background-color:red">
                                <div style="display: flex; justify-content:center; align-items:center">
                                    <button type="button" class="close" onClick="deleteRecord({{ entry["id"] }}, 'budget')">
                                        <span class="text text-light" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
    <div class="modal show" id="modal-outcome" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark border-0 text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add outcome</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" novalidate>
                        {{ form_outcome.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Category:</label>
                            {% if form_outcome.main_category.errors %}
                                {{ form_outcome.main_category(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.main_category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.main_category(class="form-control", id="main-category") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Value:</label>
                            {% if form_outcome.value.errors %}
                                {{ form_outcome.value(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.value(class="form-control", type="number") }}
                            {% endif %}
                        </div>
                        {{ form_outcome.submit(class="btn btn-outline-light btn-block", id="submit-outcome")}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="modal-income" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark border-0 text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add income</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" novalidate>
                        {{ form_income.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Value:</label>
                            {% if form_income.value.errors %}
                                {{ form_income.value(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_income.value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_income.value(class="form-control", type="number") }}
                            {% endif %}
                        </div>
                        {{ form_income.submit(class="btn btn-outline-light btn-block", id="submit-income" )}}
                    </form>
                </div>
            </div>
        </div>
</div>
{% if form_outcome.errors %}
    <script>
    $('#modal-outcome').modal('show');
    </script>
{% endif %}

{% if form_income.errors %}
    <script>
    $('#modal-income').modal('show');
    </script>
{% endif %}
{% endblock %}
