{% extends "main_layout.html" %} {% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card col-4 d-flex m-all bg-dark border-0 text-light">
        <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Sign up</h4>
            <form method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.login.label(class="form-control-label")}}

                    {% if form.login.errors %}
                        {{ form.login(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.login.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.login(class="form-control", placeholder="Login", type="text") }}
                    {% endif %}
                </div> <!-- form-group// -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label")}}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control", placeholder="*****", type="password") }}
                    {% endif %}
                </div> <!-- form-group// --> 
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label")}}

                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control", placeholder="*****", type="password") }}
                    {% endif %}
                </div> <!-- form-group// --> 
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-light btn-block")}}
                </div> <!-- form-group// -->                                                           
            </form>
        </article>
    </div> <!-- card.// -->
</div>
{% endblock %}