{% extends "main_layout.html" %}
{% block content %}
    <div class="row mt-3">
        <div class="col-md-12", style="text-align: center">
            <h1><strong>Transactions management</strong></h1>
        </div>
    </div>

    <div class="row justify-content-between mt-5">
        <div class="col-md-6 text-center">
            <div class="vertical-div">
                <button type="submit" class="btn btn-lg btn-dark btn-outline-light btn-block d-flex justify-content-center"  data-toggle="modal" data-target="#modal-income">Add income</button>
            </div>

        </div>
        <div class="col-md-6 text-center">
            <div class="vertical-div">
                <button type="submit" class="btn btn-lg btn-dark btn-outline-light btn-block d-flex justify-content-center"   data-toggle="modal" data-target="#modal-outcome">Add outcome</button>
            </div>
        </div>
    </div>

  <div class="table-responsive card mt-4">
        <table class="table table-dark table-striped mb-0 transaction-table table-bordered">
            <thead>
                <tr>
                   <th colspan="7" class="text-center"><h3>Transactions </h3></th>
                </tr>
                <tr>
                   <th scope="col" class="text-center">Lp.</th>
                   <th scope="col" class="text-center">Category</th>
                   <th scope="col" class="text-center">Subcategory</th>
                   <th scope="col" class="text-center">Date</th>
                   <th scope="col" class="text-center">Value</th>
                   <th scope="col" class="text-center">Note</th>
                </tr>
            </thead>
            <tbody>
                {%  if not transactions.empty %}
                    {% for index, transaction in transactions.iterrows() %}
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ transaction['name'] }}</td>
                            <td>{{ transaction['subcategory_name'] }}</td>
                            <td>{{ transaction['transaction_date'] }}</td>
                            <td>{{ transaction['value'] }}</td>
                            <td>{{ transaction['user_note'] }}</td>
                            <td class="text-center" style="background-color:red">
                                <div style="display: flex; justify-content:center; align-items:center">
                                    <button type="button" class="close" onClick="deleteRecord({{ transaction["id"] }}, 'transaction')">
                                        <span class="text text-light" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
    <div class="modal show" id="modal-outcome" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark border-0 text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add outcome</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" novalidate>
                        {{ form_outcome.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Main category:</label>
                            {% if form_outcome.main_category.errors %}
                                {{ form_outcome.main_category(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.main_category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.main_category(class="form-control", id="main-category") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Subcategory:</label>
                            {% if form_outcome.subcategory.errors %}
                                {{ form_outcome.subcategory(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.subcategory.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.subcategory(class="form-control", id="sub-category") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Date:</label>
                            {% if form_outcome.date.errors %}
                                {{ form_outcome.date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.date(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Value:</label>
                            {% if form_outcome.value.errors %}
                                {{ form_outcome.value(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.value(class="form-control", type="number") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Note:</label>
                            {% if form_outcome.note.errors %}
                                {{ form_outcome.note(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_outcome.note.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_outcome.note(class="form-control", type="text") }}
                            {% endif %}
                        </div>
                        {{ form_outcome.submit(class="btn btn-outline-light btn-block", id="submit-outcome")}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="modal-income" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark border-0 text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add income</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" novalidate>
                        {{ form_income.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Subcategory:</label>
                            {% if form_income.subcategory.errors %}
                                {{ form_income.subcategory(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_income.subcategory.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_income.subcategory(class="form-control", id="income-subcategory") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Date:</label>
                            {% if form_income.date.errors %}
                                {{ form_income.date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_income.date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_income.date(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Value:</label>
                            {% if form_income.value.errors %}
                                {{ form_income.value(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_income.value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_income.value(class="form-control", type="number") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Note:</label>
                            {% if form_income.note.errors %}
                                {{ form_income.note(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_income.note.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_income.note(class="form-control", type="text") }}
                            {% endif %}
                        </div>
                        {{ form_income.submit(class="btn btn-outline-light btn-block", id="submit-income" )}}
                    </form>
                </div>
            </div>
        </div>
</div>
{% if form_outcome.errors %}
    <script>
    $('#modal-outcome').modal('show');
    </script>
{% endif %}

{% if form_income.errors %}
    <script>
    $('#modal-income').modal('show');
    </script>
{% endif %}
<script>
    // Dont know how this shiet works
    $(document).ready(function() {
        $('#main-category').change(function() {
            // Get the selected value
            var selectedValue = $(this).val();
            console.log('Selected Value:', selectedValue);
            // Make an AJAX request to fetch the new options for the second field
            $.ajax({
                url: '/get_second_field_options',  // Update the URL to match your Flask route
                method: 'POST',
                data: { selected_value: selectedValue },
                dataType: 'json',
                success: function(data) {
                    // Get the SelectField you want to update
                    var subCategoryField = $('#sub-category');

                    // Clear existing options
                    subCategoryField.empty();

                    subCategoryField.append($('<option>', {
                            value: 'No subcategory',
                            text: 'No subcategory'
                        }));

                    // Add new options based on the data from the server
                    for (var i = 0; i < data.length; i++) {
                        subCategoryField.append($('<option>', {
                            value: data[i],
                            text: data[i]
                        }));
                    }
                }
            });
        });
    });
</script>

{% endblock %}
