{% extends "main_layout.html" %}
{% block content %}
    <div class="container text-center">
        <h1>Transaction tracking</h1>
    </div>

    <div class="row justify-content-between" style="margin-top: 200px">
        <div class="col-lg-4 text-center">
            <div class="vertical-div">
                <form action="{{ url_for("transaction_tracking") }}" method="POST">
                    <button type="submit" class="btn btn-primary" style="scale:3.5" name="income">Add income</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="vertical-div">
                <form action="{{ url_for("transaction_tracking") }}" method="POST">
                    <button type="submit" class="btn btn-primary" style="scale:3.5" name="outcome">Add outcome</button>
                </form>
            </div>
        </div>
    </div>

{% if form %}
    <div class="modal show" id="modal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add outcome</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Note:</label>
                            {% if form.note.errors %}
                                {{ form.note(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.note.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.note(class="form-control", type="text") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Value:</label>
                            {% if form.value.errors %}
                                {{ form.value(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.value(class="form-control", type="number") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Date:</label>
                            {% if form.date.errors %}
                                {{ form.date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.date(class="form-control", type="date") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Main category:</label>
                            {{ form.main_category(class="form-control", id="main-category",hidden=True, disabled=True) }}
                        </div>
                        {% if 'subcategory' in form._fields %}
                        <div class="form-group">
                            <label for="name">Subcategory:</label>
                            <select class="form-control" name="subcategory" id="subcategory">
                                {% for option in form.subcategory %}
                                    {% if loop.first %}
                                        <option value="" hidden disabled selected value>Choose main category</option>
                                    {% endif %}
                                    {{ option }}
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary" name="add">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script>
var modalPopup = new bootstrap.Modal(document.getElementById("modal"), {});
modalPopup.show();
</script>

{% endblock %}
